*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	width: 968px;
	margin: 0 auto;
}

.muted{
	color: grey;
}

/* START eigen code */

header{
	background-color: lightblue;
	padding: 30px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main{
	margin-top: 20px;
	margin-bottom: 40px;
}

footer{
	background-color: lightgrey;
	padding: 10px;
}









/* EINDE eigen code */

.form-group{
	border: 1px solid lightgrey;
	padding: 10px;
}

.form-group label{
	display: inline-block;
	width: 150px;
	cursor: pointer;
	vertical-align: top;
}

.form-group input[type=text], .form-group textarea{
	width: 300px;
}

.form-group input[type=submit]{
	padding: 10px;
	cursor: pointer;
}